.rounded-button {
    cursor: pointer;
    display: inline-block;
    border-radius: 21px;
    padding: 6px 14px;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    transition: all 0.25s ease-in-out;
  
    &-btn-icon:has(.mat-icon){
      &:lang(ar){
        // padding-inline-end: 8px;
      }
      &:lang(en){
        padding-inline-start: 8px;
      }
    }
    @media (max-width: 1600px) {
      font-size: 12px;
      // padding: 8px 20px;
    }
    &:disabled {
      cursor: not-allowed;
      opacity: .9;
    }
    &.loading-disabled {
      opacity: .6;
      pointer-events: none;
    }
    &_green {
      background: var(--primary-color-1);
      color: #fff;
      border: 2px solid var(--primary-color-1);
      &:hover:not(:disabled) {
        background: var(--primary-color-3);
        color: #fff;
        border-color: var(--primary-color-3);
      }
  
      &-outlined{
          color: var(--primary-color-1);
          background: transparent;
          border-color: transparent;
  
          &:hover:not(:disabled){
            color: var(--primary-color-1);
            background: #F1F1EA;
            border-color: transparent;
          }
      }
    }
    &_red {
      background: #c1311b;
      color: #fff;
      border: 2px solid #c1311b;
      &:hover:not(:disabled) {
        background: #8a200f;
        color: #fff;
        border-color: #8a200f;
      }
    }
    &_grey {
      background: var(--secondary-color-1);
      color: #fff;
      border: 2px solid var(--secondary-color-1);
      &:hover:not(:disabled) {
        background: #272c36;
        color: #fff;
        border-color: #272c36;
      }
    }
    &_light-grey {
      background: #e3e6ec;
      color: var(--secondary-color-1);
      border: 2px solid #e3e6ec;
      &:hover:not(:disabled) {
        background: #c2c5ca;
        color: var(--secondary-color-1);
        border-color: #c2c5ca;
      }
    }
    &_white {
      &-grey {
        background: #fff;
        color: var(--secondary-color-1);
        border: 2px solid var(--secondary-color-1);
        font-weight: bold;
        &:hover:not(:disabled) {
          color: #fff;
          background: var(--secondary-color-1);
          border-color: var(--secondary-color-1);
        }
      }
      &-green {
        background: #fff;
        color: var(--primary-color-1);
        border: 2px solid var(--primary-color-1);
        font-weight: bold;
        &:hover:not(:disabled) {
          color: #fff;
          background: var(--primary-color-3);
          border-color: var(--primary-color-3);
        }
      }
    }
  }
  
  .rounded-button_small {
    padding: 2px 10px !important;
    &:has(.mat-icon){
      &:lang(ar){
        padding-right: 6px !important;
      }
      &:lang(en){
        padding-left: 6px !important;
      }
    }
  }
  
  .dark-btn {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 35px;
    background-color: #424a64;
    color: #fff;
    padding: 7px 14px;
    padding-inline-start: 10px;
    font-size: 14px;
  }
  
  .dark-btn-arrow-icon {
    transition: all 0.25s ease-in-out;
  
    span {
      font-size: 18px;
      padding-inline-end: 4px;
      transition: all 0.25s ease-in-out;
      &:lang(en) {
        padding-inline-start: 4px;
      }
    }
  
    &:hover:not(:disabled) {
      background-color: #424a64eb;
      span {
        transform: translateX(-4px);
        &:lang(en) {
          transform: translateX(4px);
        }
      }
    }
  }
  
  .dark-btn--prev,
  .dark-btn--next {
    gap: 0.25rem;
    border: 2px solid transparent;
    padding: 6px 12px;
    span {
      font-size: 14px;
    }
    &:hover:not(:disabled) {
      border-color: #424a64;
      color: #424a64;
      background-color: #fff;
    }
  }
  
  .a-button-black {
    color: #000 !important;
    width: 25%;
    font-size: 15px;
    font-weight: 600 !important;
    .fa-plus-circle {
      color: var(--primary-color-1) !important;
    }
  }
  
  .customDisable {
    pointer-events: none !important;
    opacity: 0.7 !important;
  }
  
  .text-red {
    color: red !important;
  }
  .text-green {
    color: green;
  }
  .text-yellow{
    color: #efa603c9;
    // color: #efa603;
  }
  .text-red-bold {
    color: red;
    font-weight: 600 !important;
  }
  
  .btn-green {
    color: white !important;
    background-color: var(--primary-color-1) !important;
    width: 25%;
    font-size: 15px;
    border-radius: 3rem;
    &:hover:not(:disabled) {
      color: white !important;
    }
    img {
      padding-right: 10px;
    }
  }
  
  button.btn-secondary,
  button.btn-outline-secondary {
    background-color: var(--secondary-color-1) !important;
    border-color: var(--secondary-color-1) !important;
    box-shadow: unset !important;
  
    &:hover:not(:disabled) {
      background-color: var(--secondary-color-3) !important;
      border-color: var(--secondary-color-3) !important;
    }
  }
  .button.btn-outline-secondary {
    border: 2px solid var(--secondary-color-3) !important;
  }
  button.btn-primary {
    background-color: var(--primary-color-1) !important;
    border-color: var(--primary-color-1) !important;
    box-shadow: unset !important;
  
    &:hover:not(:disabled) {
      background-color: var(--primary-color-3) !important;
      border-color: var(--primary-color-3) !important;
    }
  }
  