// Theme Colors
$themePrimaryColor: #11927a;
$themeSecondaryColor: #08493d;
$themeBgColor: #ecfdf3;
$themeLightColor: #6ce9a6;

$black: #000000;
$white: #ffffff;

// Media Queries Resolutions
$extraSmall: 575px;

$small: 767px;
$medium: 991px;
$tablet: 1024px;

$mobile: 767px;
$desktop: 768px;
